@model kindergarten.Models.User;
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> roleManager
@inject kindergarten.Data.ApplicationDbContext context

@{
  ViewData["Title"] = "Editar Usuario";
}


<h1>Editar usuario</h1>

<form asp-action="UpdateUser">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="row">
    <div class="col-md-6">
      <input type="hidden" asp-for="Id" />
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control text-uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();" required />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PasswordHash" class="control-label"></label>
        <input asp-for="PasswordHash" class="form-control text-uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();" required />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
      </div>

     
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label>Tipo</label>
        <select class="form-select" aria-label="Default select example" name="rol" required>
          <option selected disabled hidden>---</option>
          @foreach (var rol in roleManager.Roles)
          {
            if (rol.Name == ViewBag.UserRol)
            {
              <option selected value="@rol.Name">@rol.NormalizedName</option>
            }
            else
            {
              <option value="@rol.Name">@rol.NormalizedName</option>
            }
          }
        </select>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
  </div>
  <div>
    <a asp-action="SelectUser">Regresar</a>
  </div>
</form>