<div class="row vh-100 d-flex justify-content-center align-items-center">
  <h1 class="text-center fw-bold display-4"
      data-aos="fade-up"
      data-aos-duration="2000">
    Bienvenido a
    <span class="text-gradient">OpenUtp</span> repositorio digital
    institucional
  </h1>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="~/images/utp.jpg"
         class="d-block mx-lg-auto img-fluid"
         data-aos="zoom-out-up"
         alt="Bootstrap Themes"
         width="700"
         height="500"
         loading="lazy" />
  </div>
  <div class="col-lg-6">
    <h2 class="display-5 fw-bold lh-1 mb-3" data-aos="fade-left">
      ¿Que hacemos?
    </h2>
    <p class="lead" data-aos="fade-right">
      Esta plataforma tiene como objetivo almacenar, preservar y
      difundir la producción científica y académica de la comunidad
      politécnica en formato digital. El Repositorio Digital
      Institucional, es un sistema abierto el cual forma parte del
      movimiento internacional conocido como Open Access Initiative.
      Dicha iniciativa promueve el acceso libre a la literatura
      científica, incrementando el impacto de los trabajos desarrollados
      por los investigadores contribuyendo a mejorar el sistema de
      comunicación científica y el acceso abierto al conocimiento. Así
      como maximizar la visibilidad, el uso y el impacto de la
      producción científica y académica de la comunidad Politécnica
    </p>
  </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-lg-6">
    <h2 class="display-5 fw-bold lh-1 mb-3" data-aos="fade-left">
      Historia
    </h2>
    <p class="lead" data-aos="fade-right">
      Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
  </div>
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="~/images/utp.jpg"
         class="d-block mx-lg-auto img-fluid"
         data-aos="zoom-out-up"
         alt="Bootstrap Themes"
         width="700"
         height="500"
         loading="lazy" />
  </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="~/images/utp.jpg"
         class="d-block mx-lg-auto img-fluid"
         data-aos="zoom-out-up"
         alt="Bootstrap Themes"
         width="700"
         height="500"
         loading="lazy" />
  </div>
  <div class="col-lg-6">
    <h2 class="display-5 fw-bold lh-1 mb-3" data-aos="fade-left">
      Sobre nosotros
    </h2>
    <p class="lead" data-aos="fade-right">
      Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
  </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-lg-6">
    <h2 class="display-5 fw-bold lh-1 mb-3" data-aos="fade-left">
      Subtitulo
    </h2>
    <p class="lead" data-aos="fade-right">
      Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
  </div>
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="~/images/utp.jpg"
         class="d-block mx-lg-auto img-fluid"
         data-aos="zoom-out-up"
         alt="Bootstrap Themes"
         width="700"
         height="500"
         loading="lazy" />
  </div>
</div>