@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de contraseña olvidada";
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-success" role="alert">
    Por favor revise su correo electronico para recuperar su contraseña :D
</div>
