@model Student

@{
  ViewData["Title"] = "Crear estudiante";
}

<h1>@ViewData["Title"]</h1>

<div class="w-100 p-3 p-lg-5 border rounded-3 bg-light">
  <form asp-controller="Teacher" asp-action="CreateStudent" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Nombres"></label>
      <div class="col-sm-10">
        <input class="form-control" asp-for="Nombres">
        <span class="text-danger" asp-validation-for="Nombres"></span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="ApellidoPat"></label>
      <div class="col-sm-10">
        <input class="form-control" asp-for="ApellidoPat">
        <span class="text-danger" asp-validation-for="ApellidoPat"></span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="ApellidoMat"></label>
      <div class="col-sm-10">
        <input class="form-control" asp-for="ApellidoMat">
        <span class="text-danger" asp-validation-for="ApellidoMat"></span>
      </div>
    </div>

    <button class="btn btn-primary"> <i class="fas fa-plus-circle"></i> Nuevo</button>
    <a class="btn btn-outline-secondary" asp-controller="Teacher" asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i> Cancelar</a>
  </form>
</div>